body {
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url("background.gif");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    color: white;
}

.header {
    text-align: right;
    padding-right: 5vw;
    padding-top: 5vh;
    width: 100vw;
    height: 100vh;
}

.header h1 {
    font-size: 25vmin;
}

.header hr {
    width: 75vmin;
    float: right;
}

#subtitle {
    font-size: 8vmin;
}

#line {
    display: block;
    width: 75vmin;
    margin-left: auto;
    margin-right: 0;
    border-top: 1px solid white;
 }